body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*h1 e h2*/
#jogoForca, #digite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.hs {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*canvas*/
#canvas {
    display: flex;
}

/*teclado*/
.teclado-container {
    padding: 5px;
    
}
/*css do footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
footer p {
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin-left: 30px;
    
}

#perdeu {
    color: red;
}
#venceu {
    color: green;
}