*{
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
} 


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    
}
/*menu de naveação*/
header {
    display: flex;
    width: 100%;
    
}
nav {
    display: flex;
    justify-content: center;
    
} 
ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.border {
    border-bottom: 1px solid black;    
}
.flexItem {
     display: flex;
     align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.links {
    display: flex;
    justify-content: space-around;
    margin:30px 0 0 0;
    text-decoration: none;
    font-family: 'Raleway';
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }
  .links:hover {
    font-size:25px;
    transition:0.5;
}  


  textarea {
      width: 200px;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
      border: 2px solid #8707ff;
      border-radius: 10px;
      background: rgba(0,0,0,.10);
  }
 
 
button {
    background-color: rgba(0,0,0,.10);
    color: white;
}

/*h1 e h2*/
 #jogoForca {
    font-size: 2rem;
    font-weight: 400;
}
#digite {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    margin: 0 60px;
}

#jogoForca, #digite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Raleway';
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.hs {
    margin: 15px;

}

.container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10PX;
    
}
/*canvas*/
.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    width: 90%;
}
#forca {
    display: flex;
    background:rgba(0,0,0,.1);
    box-shadow:
    10.7px 6.7px 5.3px rgba(0, 0, 0, 0.077),
    36px 22.3px 17.9px rgba(0, 0, 0, 0.113),
    161px 100px 80px rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    margin: 15px;    
}

/*palavras*/
#palavras, .flex-container-2-2 {
    margin: 10px;
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-align: center;
    color: #ca0a0a;
    font-weight: 400;
    letter-spacing: 5px;

}


#letras {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}



/*mensagem venceu e perdeu*/
#perdeu {
    color: red;
    font-size: 2rem;
    padding: 5px;
    margin: 5px;
}
#venceu {
    color: green;
}

/*botões */
.containerBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        align-content: center
}
.flex-container-3 button {
    padding: 10px;
    margin: 3px;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway';
    font-weight: 700;
    border: 1px solid #EFD612;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:
    10.7px 6.7px 5.3px rgba(0, 0, 0, 0.077),
    36px 22.3px 17.9px rgba(0, 0, 0, 0.113),
    161px 100px 80px rgba(0, 0, 0, 0.19); 
   
}
.novo-bt {
    padding: 10px;
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    transition: all 0.3s;
    cursor: pointer;

        
}
#adicionarPalavra{
    padding: 10px;
    margin: 10px;
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;

}

#iniciarJogo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 100px 0;
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
}
#adicionarPalavra:hover, #iniciarJogo:hover, .novo-bt:hover {
    box-shadow: 2px 2px 15px #8707ff inset;
}
#adicionarPalavra:active, #iniciarJogo:active, .novo-bt:active {
    box-shadow: 2px 2px 20px #8707ff inset;
  }

  /*css do footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
    bottom: 0;

}
footer p {
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 30px;
    color: #ddeb43;
    
    
}
/*responsividade*/

@media only screen and (max-width: 600px){
    #forca {
        display: flex;
        width: 75%;
        height: auto;
        margin: 0 50px;
        padding: 10px;
    }
    .escondeConteudo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: stretch;
    
    }
    .flex-container-2 {
        margin: 25px;
    }
    .flex-container-3 button {
        display: flex;
        flex-wrap: wrap;
        width: 15%;
        height: auto;
        align-items: center;
    }
    #letras {
        text-align: center;
        align-items: center;
        margin-left: 10px;
    }
    
}

@media only screen and (max-width: 768px){
    button {
        font-size: 20px;
    }
    .containerBtn {
        margin-top: 95px;
    }
    #forca {
        margin-top: 40px;
    }
}
